In [1]:
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
tabela.head()

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000

In [4]:
#atualizar o mutiplicador
tabela.loc[ tabela["Tipo"]=="Serviço","Multiplicador Imposto"]=1.5

#fazer a conta do preço base reais
tabela["Preço Base Reais"]= tabela["Multiplicador Imposto"] * tabela ["Preço Base Original"]

tabela.to_excel("ProdutosPandas.xlsx")

In [6]:
#import openpyxl 
from openpyxl import Workbook, load_workbook

planilha = load_workbook("Produtos.xlsx")

aba_ativa= planilha.active

for celula in aba_ativa["C"]:
    if celula.value == "Serviço":
        linha = celula.row
        aba_ativa[f"D{linha}"]=1.5
planilha.save("ProdutosOpenpy.xlsx")